* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  height: 40px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.nav-link.active {
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
}

.intro {
  text-align: center;
  background: #f9f9f9;
  padding: 50px 20px;
}

.Depoimentos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
}

.dep1, .dep2, .dep3 {
  background-color: #e0dede;
  padding: 20px;
  border-radius: 15px;
  width: 30%;
  margin: 10px;
}

.dep1 h2, .dep2 h2, .dep3 h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.dep1 p, .dep2 p, .dep3 p {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.dep1 strong, .dep2 strong, .dep3 strong {
  color: black;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  background: #f9f9f9;
  padding: 50px 20px;
  min-height: 60vh;
  margin-top: 250px;
}

.intro-text {
  flex: 1;
  text-align: left; 
  padding: 0 20px; 
  margin-top: 400px;
}

.intro-image {
  flex: 1;
  text-align: center;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 40px; 
    margin-top: 400px;
}
.titulo-principal {
  color:#3498db;
  font-size: 45px;
}
.sub-titulo {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px; 
}

.descrição {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 15px; 
  line-height: 1.5; 
}

.destaque {
  color: #0b3957;
  font-size: 1.2em;
  margin-bottom: 20px; 
}

.cta-button {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 24px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #000000;
}

.testimonials {
  background: #fff;
  padding: 50px 20px;
  text-align: center;
}

.clients {
  text-align: center;
  padding: 50px 20px;
  background: #f9f9f9;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-images {
  display: flex;
  overflow: hidden;
  width: 900px;
}

.carousel-images img {
  min-width: 300px;
  transition: transform 0.5s ease-in-out;
}

.carousel-button {
  background: #000000;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-button.prev {
  left: 0;
}

.carousel-button.next {
  right: 0;
}
