* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    height: 40px;
}

.nav-link {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.nav-link.active {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
}

.central {
    background-color: #333;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 120px; 
}

.central h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.central p {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin: 5px 0;
}

.central input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    background-color: #f9f9f9;
}

.central button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    
}

.central a {
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
}

.central a:hover {
    color: #ccc;
}

.forgot-password {
    text-align: right;
    font-size: 12px;
    margin-bottom: 15px;
}

.register {
    font-size: 12px;
    margin-top: 10px;
}

